main {
  height: 100vh;
  width:100%;
  background-size: cover;
  background-image: url(/recursos/banner.png);
  position: relative;

  .header {
    width: 100%;
    display: flex;
    padding: 2% 0;

    &__img {
      margin-left: 40px;
      width: 25%;
    }

    div {
      width: 50%;
    }

    .navegacion {
      top: 30px;
      right: 0;
      width: 50%;
      font-size: 30px;
    }

    .navegacion ul {
      color: white;
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin-right: 10px;
    }

    .navegacion ul input {
      opacity: 30%;
      border-radius: 5px;
      border-style: none;
      margin-left: 10px;
    }
  }

  .bannerSection {
    color: white;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    justify-content: center;
    margin-left: 150px;

    &__h1 {
      font-size: 100px;
      font-weight: 400;
    }

    &__p {
      padding-top: 1.5%;
      padding-bottom: 30px;
      font-size: 35px;
      margin-right: 80%;
    }

    &__btn {
      color: white;
      background-color: rgb(55, 158, 255);
      width: fit-content;

      &__a {
        padding: 10px;
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-size: 40px;
      }
    }
  }

  /* icono */
}



@media screen and (max-width: 850px) {
  main {
    height: 100vh;
    width:100%;
    background-size: cover;
    background-position: 93% 50%;
    background-image: url(/recursos/banner.png);
    position: relative;
  
    .header {
      .navegacion {
      }
    }

    .bannerSection {
      margin-left: 50px;
      height: 56%;
      justify-content: space-evenly;
      padding: 20% 0;

      &__h1 {
        font-size: 50px;
      }
      &__p {
        font-size: 18px;
        margin-right:200px;
      }

      &__btn{
        
        

        &__a{
          padding: 5px;
          font-size: 20px;

        }
      }
    }
  }
}
