main {
  height: 100vh;
  width:100%;
  background-size: cover;
  background-image: url('../recursos/banner.png');
  position: relative;

  .header {
    width: 100%;
    display: flex;
    padding: 2% 0;

    &__img {
      margin-left: 40px;
      width: 25%;
    }

    div {
      width: 50%;
    }

    .navegacion {
      top: 30px;
      right: 0;
      width: 50%;
      font-size: 16px;
    }

    .navegacion ul {
      color: white;
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin-right: 10px;
    }

    .navegacion ul input {
      opacity: 30%;
      border-radius: 5px;
      border-style: none;
      margin-left: 10px;
    }
  }

  .bannerSection {
    color: white;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    justify-content: center;
    margin-left: 150px;

    &__h1 {
      font-size: 50px;
      font-weight: 400;
    }

    &__p {
      padding-top: 1.5%;
      padding-bottom: 30px;
      font-size: 18px;
      margin-right: 70%;
    }

    &__btn {
      color: white;
      background-color: rgb(55, 158, 255);
      width: fit-content;

      &__a {
       
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-size: 20px;
      }
    }
  }

  .burgerMenu{
    display: none;
  }

  /* icono */
}



@media screen and (max-width: 1000px) {
  main {
    height: 90vh;
    width:100%; 
    background-position: 90% 100%;
    position: relative;
  
    .header {
      height:100px;
     
      .div{
        padding-right:0;
      }
      .navegacion {
        display: none;
        position:absolute;
        top:55px;
        left:0px;  
        padding-left:45px;  
        padding-right:100px;
        
        ul{
          border-radius: 5px;
          padding-bottom:10px;
          background-color: rgba(156, 156, 156, 0.192);
          display: flex;
          flex-direction: column;
          li{
            padding-left:5px;
            padding-top:10px;
            input{
              display: none;
            }
          }
        }
      }
    }

    .bannerSection {
      margin-left: 50px;
      height: 56%;
      justify-content: space-evenly;
      padding: 20% 0;

      &__h1 {
        font-size: 24px;
      }
      &__p {
        font-size: 12px;
        margin-right:200px;
      }

      &__btn{
        padding: 5px;
        
       
        
        

        &__a{
          padding: 15px;
          font-size: 14px;

        }
      }
    }

    .header__img{
      display: none;
      
    }

    .burgerMenu{
      background-color: transparent;
      display:block;
      position:absolute;
      top:15px;
      left:25px;
      
    
      & img{
        width: 30px;
        height: 100%;
        
      }
    }



  }
}
