.footer {
    height: 25vh;
    color: gray;
    background-color: #172631;

    .footer__main {
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .footer__img {
            width: 100px;
            height: 100px;
        }

        .footer__section {
            padding-right: 50px;
            

            h3{
                font-size: 30px;
                padding-bottom:20px;
            }
            p{
                padding-top:20px;
                
            }
        }

        .footer__section1 {
            padding-right: 50px;

            .footer__options li{
                font-size:20px;
                padding-top:10px;
            }
        }

        .footer__section2 {
            padding-right: 50px;

            .footer__img1 {
                width: 200px;
                height: 50px;
            }
        }
    }
}

.footer span {
    display: flex;
    justify-content: center;
    padding-top:20px;
}

.footer p .icon {
    width: 40px;
    height: 30px;
    padding-right: 10px;
}

@media screen and (max-width: 850px) {
    .footer{
        height: 45vh;

    }


}
