.footer {
  height: 30vh;
  color: gray;
  background-color: #172631;

  &__main {
    padding-top: 30px;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
    &__img {
      width: 100px;
      height: 100px;
    }

    &__section {
      padding-right: 50px;

      h3 {
        font-size: 24px;
        padding-bottom: 20px;
      }
      p {
        padding-top: 20px;
      }
    }

    &__section--2 {
      padding-right: 50px;

      .options li {
        font-size: 14px;
        padding-top: 10px;
      }
    }

    &__section--3{
      padding-right: 50px;

      img {
        width: 200px;
        height: 50px;
      }
    }
  

  & span {
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  
  & p .icon {
    width: 40px;
    height: 30px;
    padding-right: 10px;
  }
}



@media screen and (max-width: 1000px) {
  .footer {
    height: 55vh;

    &__main {
      height: 80%;
      flex-direction: column;
      justify-content: space-evenly;
    }
       &__img {
        width: 80px;
        height: 80px;
      }

      &__section {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 10px;

        h3 {
          font-size: 16px;
          padding-bottom: 20px;
        }
    }
        &__section--1 {
          margin-top: 5px;
          display: flex;
          flex-direction: row;

          p {
            padding-top: 0px;
            margin-right: 20px;
          }
        }
      

      &__section--2 {
        padding-right: 50px;

        .options li {
          font-size: 10px;
          text-align: center;
          padding-top: 10px;
        }
      }

      &__section--3 {
        padding-right: 50px;

        img {
          padding-top: 10px;
          width: 80px;
          height: 30px;
        }
      }
    }
    & span {
      font-size: 10px;
      align-items: center;
      margin-left: -60px;
      padding-top: 30px;
    }
    & p .icon {
      width: 30px;
      height: 20px;
      padding-right: 10px;
    }
  }

