.cancionesArticle {
    background: linear-gradient(360deg, rgba(255, 225, 70, 0) -23.43%, #ffa346 34.25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:2%;

    h2{
        color:white;
    }

    &__menu {
        color: white;
        list-style: none;
        display: inline-flex;
        margin-right: 10px;
        justify-content: space-evenly;

        li {
            padding-top:30px;
            padding-left: 15%;
            font-size:1.7em;
        }
    }
    &__container {
        width: 80%;
        margin: 2rem auto;
        

        .galeria {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 5vw);
            grid-gap: 15px;

            .galeria__item--1 {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            .galeria__item--2 {
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 3;
            }

            .galeria__item--3 {
                grid-column-start: 5;
                grid-column-end: 9;
                grid-row-start: 1;
                grid-row-end: 6;
            }

            .galeria__item--4 {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 3;
                grid-row-end: 6;
            }

            .galeria__item--5 {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 6;
                grid-row-end: 9;
            }

            .galeria__item--6 {
                grid-column-start: 5;
                grid-column-end: 9;
                grid-row-start: 6;
                grid-row-end: 9;
            }

            .galeria__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
}
