.cancionesArticle {
    background: linear-gradient(360deg, rgba(255, 225, 70, 0) -23.43%, #ffa346 34.25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:2%;

    h2{
        color:white;
    }

    &__menu {
        color: white;
        list-style: none;
        display: inline-flex;
        margin-right: 10px;
        justify-content: space-evenly;

        li {
            padding-top:30px;
            padding-left: 15%;
            font-size:1.7em;
        }
    }
    &__container {
        width: 80%;
        margin: 2rem auto;
        

        .galeria {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            
            .galeria__item--1 {
               flex-grow: 0;  
            }
            .galeria__item--2 {
                flex-grow: 5;  
                .galeria__img{
                    max-width: 100%;
                    max-height: 100%;
                }
             }

             .galeria__item--3 {
                flex-grow: 0;  
             }
             .galeria__item--4 {
                flex-grow: 0;  
             }
    }
}
}


@media screen and (max-width: 850px) {

    

}