.cancionesArticle {
  width: 100%;
  background: linear-gradient(
    360deg,
    rgba(255, 225, 70, 0) -23.43%,
    #ffa346 34.25%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;

  h2 {
    color: white;
  }

  &__menu {
    color: white;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

    li {
      padding-top: 1.2%;
      font-size: 18px;
      margin-left: 25px;
      margin-right: 25px;
    }
  }
  &__container {
    width: 80%;
    margin: 2rem auto;
  }

  .galeria {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;

    &__playbtn {
      position: absolute;
      width: 30px;
      top: 40%;
      left: 45%;
      align-items: center;
      display: block;
      opacity: 0;
      
    }

    &__pausebtn {
      position: absolute;
      width: 30px;
      top: 40%;
      left: 45%;
      align-items: center;
      display: block;
      opacity: 0;
      
    }



    

    &__music {
      position: absolute;
      top:0;
      height: 110%;
      width: 100%;
      background-color: rgba(30, 10, 23, 0.404);
      padding-top: 10px;
      padding-left: 15px;
      display: none;
      &:hover{
        & .galeria__pausebtn{
          opacity: 1;
        }
      }

      p {
        font-size:14px;
        color: white;
      }
      .buy{
        margin-bottom:5px;
        opacity:50%;
        position: absolute;
        bottom:0;

       
      }
    }

    &__img {
      width: 100%;
    }

    &__item{
      position: relative;
      &:hover{
        & .galeria__playbtn{
          opacity: 1;
        }
      }
      
      &--1 {
        
        width: 20%;
      }
      &--2 {
        margin-left: 50px;
        margin-right: 4px;
        width: 27.9%;
      }
      &--3 {
        margin-bottom: 10px;
        margin-top: 30px;
        margin-left: 50px;
        width: 15%;
      }
      &--4 {
        margin-bottom: 10px;
        margin-top: 30px;
        margin-left: 50px;
        width: 15%;
      }
      &--5 {
        margin-left: 30px;
        width: 20%;
      }
      &--6 {
        margin-top:40px;
        margin-right: 70px;
        width: 20%;
      }
      &--7 {
        margin-top: 65px;
        width: 50%;
      }
      &--8 {
        margin-top:40px;
        margin-left: 80px;
        width: 30%;
      }
    
    }
    &__section {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50%;

    }

   
  }
}

@media screen and (max-width: 1000px) {
  .cancionesArticle {
    h2 {
      color: white;
      padding-top: 40px;
    }

    &__menu {
      color: white;
      list-style: none;
      display: inline-flex;
      justify-content: space-evenly;

      li {
        padding-top: 30px;
        font-size: 14px;
      }
    }

    &__container {
      width: 95%;
      margin: 2rem auto;
    }

    .galeria {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;
  
      &__icon {
        position: absolute;
        width: 30px;
        top: 40%;
        left: 45%;
        align-items: center;
        display: block;
        opacity: 0;
        
      }
  
      &__music {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(30, 10, 23, 0.404);
        padding-top: 3px;
        padding-left: 7px;
        display:block;
       
  
        p {
          font-size:14px;
          color: white;
        }
      }
  
      &__img {
        width: 100%;
      }
  
      &__item{
        position: relative;
        &:hover{
          & .galeria__icon{
            opacity: 1;
          }
        }
        
        &--1 {
          margin-bottom: 50px;
          width: 20%;
        }
        &--2 {
          margin-left: 5px;
          margin-right: 4px;
          width: 27.9%;
        }
        &--3 {
          margin-top: 6px;
          margin-left: 5px;
          width: 15%;
        }
        &--4 {
          margin-top: 6px;
          margin-left: 5px;
          width: 15%;
        }
        &--5 {
          margin-left: 3px;
          width: 20%;
        }
        &--6 {
          margin-right: 7px;
          width: 19.72%;
        }
        &--7 {
          margin-top: 4px;
          width: 55%;
        }
        &--8 {
          margin-left: 8px;
          width: 30%;
        }
      
      }
      &__section {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50%;
  
      }
  
     
    }
    
    
  }
}
