body{
    height: 100vh;
    background-color: linear-gradient(182.2deg, #FEFEFF 66.38%, #91DCDC 98.23%);
}

.header {
    width: 100%;
    display: flex;
    padding: 2% 0;

    &__img {
      margin-left: 40px;
      width: 25%;
    }

    div {
      width: 50%;
    }

    .navegacion {
      top: 30px;
      right: 0;
      width: 50%;
      font-size: 16px;
    }

    .navegacion ul {
      color: black;
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin-right: 10px;
    }

    .navegacion ul input {
      color:black;
      border-color: black;
      opacity: 30%;
      border-radius: 5px;
      border-style: none;
      margin-left: 10px;
    }
  }

  .title{
      margin-left:50px;
      font-weight:600;
      font-size:25px;

  }

.productForm{
    display: flex;
    margin-left:50px;
    margin-top:10px;
    

    &__section{
        &--1{
            width:50%;
        }
        &--2{
            width:40%;
            border-color: gray;
        }
        &--3{
            width:10%;
        }
    }
  

    &__label{
        display: block;
       &--checkbox{
           display: inline-block;
           margin-top: 2px;
       }

    }

    &__input{
        display: block;

    }
    &__price{
        display: block;
    }

    &__btn{
        
        margin-top:50px;
        
       
    }

    &__track{
        margin-right:10px;
        margin-top:5px;

    }
    &__addtrack{
        
    }

    &__genre{
        display: block;
    }

    &__date{
        display: block;

    }
}