.productformbody{
   
    background-size: cover;
    background-repeat: no-repeat;
    background:linear-gradient(182.2deg, #FEFEFF 66.38%, #91AFDC 98.23%);
    li{
        color:black;

    }
    a{
        color:black;

    }
    p{
        color:black;
    }
    label{
        color:black;
    }
}

.header {
    
    width: 100%;
    display: flex;
    padding: 2% 0;

    &__img {
      margin-left: 40px;
      width: 25%;
    }

    div {
      width: 50%;
    }

    .navegacion {
      top: 30px;
      right: 0;
      width: 50%;
      font-size: 16px;
    }

    .navegacion ul {
      color: black;
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin-right: 10px;
    }

    .navegacion ul input {
      color:black;
      border-color: black;
      opacity: 30%;
      border-radius: 5px;
      border-style: none;
      margin-left: 10px;
    }
  }

  .title{
      margin-left:50px;
      font-weight:600;
      font-size:25px;

  }

.productForm{
    display: flex;
    margin-left:50px;
    margin-top:10px;
    padding-bottom: 70px;
    

    &__section{
        
        &--1{
            margin-top:50px;
            width:50%;
        }
        &--2{
            width:40%;
            margin-top:50px;
            border-color: gray;
        }
        &--3{
            margin-right:50px;
            margin-top:100px;
            width:10%;
        }
    }
    &__div{
        display: flex;
        
        
        
            &--1{

                   
            }
            &--2{
                
                margin-top:50px;
                
            }
            &--3{
                margin-top:50px;
              
            }
            &--4{
                display: block;
                margin-top:50px;
              
            }
            &--5{
                display: block;
              
            }
            &--6{
                margin-top:40px;
              
            }
        
        
    }
    //contenedor de los checks
    &__checkboxes{
        display: flex;

        &--1{
        
            
          

        }
        &--2{
            
        }
        
        &--3{
            
        }
        
        

    }
    &__checkbox{
        margin-bottom:0px;
        margin-left:10px;
        margin-top: 2px;

    }
  

    &__label{
        display:block;
        margin-top:10px;
        margin-right:10px;
        margin-bottom: 10px;
        
       
       &--checkbox{
           margin-bottom:0px;
           margin-left:10px;
           margin-top: 2px;
       }

    }

    &__input{
        margin-right:30px;
       

    }
    &__price{
        display: block;
    }

    &__btn{

        
        margin-top:280px;
        
       
    }

    &__track{
       
        margin-right:10px;
        margin-top:5px;

    }
    &__addtrack{
        padding-top:1px;
        padding-left: 5px;
        padding-bottom: 1px;
        padding-right:5px;
      
    }

    &__genre{
        margin-right:30px;
        
        display: block;
    }

    &__date{
        display: block;

    }
    &__description{
        height:100px;
        width:400px;
        

    }
    &__images{
        display:flex;
        & img{
            margin-right:10px;
            margin-bottom:20px;
            margin-top:10px;
            width:30%;
        }
    }

    

  
}

@media screen and (max-width: 1000px) {
    
}