.list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  border: 1px solid gray;
  width: 300px;
  display: block;
  text-decoration: none;
  margin: 20px;

  &__img {
    width: 100%;
  }

  &__info {
    padding: 10px;
  }

  &__title {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__price {
    margin: 0;
  }

  &:hover {
    background-color: gray;
  }
}