.storebody{
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #172631 10.45%, rgba(85, 96, 105, 0.87) 143.29%);




}
a{
  color:white;
}

li{
  color:white;
}
p{
  color:white;
}
.store{
  display: flex;

  &__section{
    &--1{
      margin-left:20px;
      width:20%;
    }
    &--2{
      width:80%;

    }

  }
}

.orderselector{
width:50%;
}

.orderdiv{
  margin-top:20px;
}


.list {
  display: flex;
  flex-wrap: wrap;
}

.productForm{
  
  &__label{
    color:white;
  }
}
.formatdiv{
  margin-top:10px;
  display:flex;
}

.product {
  // border: 1px solid gray;
  width: 300px;
  display: block;
  text-decoration: none;
  margin: 20px;
  color: white;


  &__cartBtn{

    padding-left:3px;
    padding-right:3px;
    padding-top:2px;
    padding-bottom:2px;
    height:50%;
  }
  &__img {
    width: 100%;
  }

  &__info {
    display:flex;
    padding: 10px;
    &--2{
      margin-left:40px;
    }
  }

  &__title {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__price {
    
    padding-right:40px;
  }

  &:hover {
    background-color: rgba(146, 137, 137, 0.281);
  }
}

@media screen and (max-width: 1000px) {
}

