/* Cosas Generales */
.hidden {
    display: none !important;
}
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    align-items: center;
    justify-content: center;


    h2 {
        font-size: 32px;
        font-weight: 600;
    }
    p {
        font-size: 18px;
        font-weight: 400;
      
    }
    select{
        border-style: solid;
        border-width: 1px;
        border-radius: 6px;

    }

    input{
        border-style: solid;
        border-width: 1px;
        border-radius: 6px;
        :checked {
            background-color: gray;
        }
    }

    button {
        color: rgb(25, 26, 29);
        background-color: rgb(255, 162, 55);
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-size: 18px;
        border-radius: 5px;
        padding: 10px 40px 10px 40px;
        border-style: none;
        width: fit-content;
    }

    a{
        
        text-decoration: none;
        :hover{
            text-decoration: underline;
        }
    }
    
    
    
}


.burgerMenu{
    display:none;
  }







/* Estilo responsive */



@media screen and (max-width: 1000px) {
    body{
        
        h2 {
            font-size: 20px;
            font-weight: 600;
        }

        p{
            font-size: 16px;
            font-weight: 400;
        }
        button{
            font-size: 14px;
            padding: 5px 20px 5px 20px;
            outline:0px;
        }
        label{
          font-size: 16px;
        }

    }

 
        .header {
          height:100px;
          
          &__img{
            display:none;
          }
         
          .div{
            padding-right:0;
          }
          .navegacion {
            display: none;
            position:absolute;
            top:60px;
            left:0px;  
            padding-left:25px;  
            padding-right:100px;
            
            ul{
              border-radius: 5px;
              padding-bottom:10px;
              margin-right:20px;
              background-color: rgb(156, 156, 156);
              display: flex;
              flex-direction: column;
              margin-top:10px;
              li{
                padding-top:10px;
                input{
                  display: none;
                }
              }
            }
          }
        }
        .burgerMenu{
          background-color: transparent;
          display:block;
          position:absolute;
          top:15px;
          left:5px;
          
        
          & img{
            width: 30px;
            height: 100%;
            
          }
        }
          
      
    
}




@import "./_cart.scss";
@import "./_product.scss";
@import "./_modal.scss";
@import "./_store.scss";
@import "./_footer.scss";
@import "./_subscribe.scss";
@import "./_join.scss";
@import "./_music.scss";
@import "./_banner.scss";
@import "./_newsletter.scss";
@import "./_vinyl.scss";
@import "./_productForm.scss";

