/* Cosas Generales */
body {
  font-family: "Raleway", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body h2 {
  font-size: 65px;
  font-weight: 600;
}

body p {
  font-size: 32px;
  font-weight: 400;
}

body button {
  color: #191a1d;
  background-color: #ffa237;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 36px;
  border-radius: 5px;
  padding: 20px 50px 20px 50px;
  border-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo responsive */
@media screen and (max-width: 1000px) {
  body h2 {
    font-size: 36px;
    font-weight: 600;
  }
  body p {
    font-size: 20px;
    font-weight: 400;
  }
  body button {
    font-size: 18px;
  }
}

.footer {
  height: 25vh;
  color: gray;
  background-color: #172631;
}

.footer .footer__main {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer__main .footer__img {
  width: 100px;
  height: 100px;
}

.footer .footer__main .footer__section {
  padding-right: 50px;
}

.footer .footer__main .footer__section h3 {
  font-size: 30px;
  padding-bottom: 20px;
}

.footer .footer__main .footer__section p {
  padding-top: 20px;
}

.footer .footer__main .footer__section1 {
  padding-right: 50px;
}

.footer .footer__main .footer__section1 .footer__options li {
  font-size: 20px;
  padding-top: 10px;
}

.footer .footer__main .footer__section2 {
  padding-right: 50px;
}

.footer .footer__main .footer__section2 .footer__img1 {
  width: 200px;
  height: 50px;
}

.footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.footer p .icon {
  width: 40px;
  height: 30px;
  padding-right: 10px;
}

@media screen and (max-width: 1000px) {
  .footer {
    height: 45vh;
  }
  .footer .footer__main {
    height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer .footer__main .footer__section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__main .footer__section .footer__section--1 {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .footer__main .footer__section .footer__section--1 p {
    margin-right: 20px;
  }
  .footer .footer__section1 {
    padding-right: 50px;
  }
  .footer .footer__section1 .footer__options li {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }
}

.subscribe {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: url(/recursos/vinyl.png) right bottom no-repeat, url(/recursos/tape.png) center left no-repeat;
  background-size: 18%;
}

.subscribe h2 {
  padding-top: 2%;
}

.subscribe p {
  padding-top: 1.2%;
}

.subscribe__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 70%;
  padding-top: 150px;
  padding-bottom: 250px;
  width: 100%;
}

.subscribe__section .subscribe__article {
  width: 25%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 4%;
  padding-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-box-shadow: -4px 4px 10px 3px rgba(0, 0, 0, 0.25), 10px 10px 10px 3px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 10px 3px rgba(0, 0, 0, 0.25), 10px 10px 10px 3px rgba(0, 0, 0, 0.25);
}

.subscribe__section .subscribe__article h4 {
  font-weight: 700;
  font-size: 50px;
}

.subscribe__section .subscribe__article .subscribe__ol {
  height: 50%;
}

.subscribe__section .subscribe__article ol {
  list-style: none;
  width: 100%;
}

.subscribe__section .subscribe__article li {
  padding-top: 10%;
  padding-left: 10%;
  font-size: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.subscribe__section .subscribe__article p {
  font-weight: 500;
  font-size: 40px;
  color: #105966;
  padding-top: 20%;
}

.subscribe__section .subscribe__article .subscribe__icons {
  padding-right: 10%;
}

.subscribe__section .subscribe__article button {
  margin-top: 80px;
}

@media screen and (max-width: 1000px) {
  .subscribe {
    padding-top: 40px;
    background-size: 60%;
  }
  .subscribe p {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
  }
  .subscribe__section {
    padding-top: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__section .subscribe__article {
    height: 60%;
    width: 50%;
  }
  .subscribe__section .subscribe__article--2 {
    margin-top: 100px;
  }
  .subscribe__section .subscribe__article li {
    padding-top: 10%;
    padding-left: 10%;
    font-size: 18px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .subscribe__section .subscribe__article p {
    font-weight: 500;
    font-size: 20px;
    color: #105966;
    padding-top: 20%;
  }
}

.joinArticle {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(52.05%, #172631), color-stop(143.29%, rgba(23, 38, 49, 0)));
  background: linear-gradient(360deg, #172631 52.05%, rgba(23, 38, 49, 0) 143.29%);
  /* background-image: url(/recursos/radiowaves.png);*/
  background-repeat: no-repeat;
  background-size: cover;
}

.joinArticle .joinArticle__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 2%;
}

.joinArticle .joinArticle__section p {
  padding-top: 20px;
}

.joinArticle .joinArticle__section--img {
  width: 1000px;
  size: 1000px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.joinArticle .joinArticle__section button {
  margin-top: 30px;
}

.joinArticle .joinArticle__section h2 {
  color: white;
}

@media screen and (max-width: 1000px) {
  .joinArticle {
    padding-top: 40px;
  }
  .joinArticle__section {
    /*background-color: linear-gradient(360deg, #172631 52.05%, rgba(23, 38, 49, 0) 143.29%);*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 2%;
    margin-left: 30px;
    margin-right: 30px;
  }
  .joinArticle__section--img {
    width: 500px;
    size: 500px;
    padding-top: 5%;
  }
  .joinArticle__section p {
    padding-top: 30px;
    text-align: center;
  }
}

.cancionesArticle {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-23.43%, rgba(255, 225, 70, 0)), color-stop(34.25%, #ffa346));
  background: linear-gradient(360deg, rgba(255, 225, 70, 0) -23.43%, #ffa346 34.25%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2%;
}

.cancionesArticle h2 {
  color: white;
}

.cancionesArticle__menu {
  color: white;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cancionesArticle__menu li {
  padding-top: 1.2%;
  font-size: 36px;
  margin-left: 25px;
  margin-right: 25px;
}

.cancionesArticle__container {
  width: 80%;
  margin: 2rem auto;
}

.cancionesArticle .galeria {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cancionesArticle .galeria__img {
  width: 100%;
}

.cancionesArticle .galeria__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50%;
}

.cancionesArticle .galeria__item--1 {
  padding-bottom: 30px;
  width: 20%;
}

.cancionesArticle .galeria__item--2 {
  padding-lefT: 50px;
  padding-right: 4px;
  width: 27.9%;
}

.cancionesArticle .galeria__item--3 {
  padding-top: 60px;
  padding-lefT: 50px;
  width: 15%;
}

.cancionesArticle .galeria__item--4 {
  padding-top: 60px;
  padding-lefT: 50px;
  width: 15%;
}

.cancionesArticle .galeria__item--5 {
  padding-left: 30px;
  width: 20%;
}

.cancionesArticle .galeria__item__img {
  width: 100%;
}

.cancionesArticle .galeria__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50%;
}

.cancionesArticle .galeria__item2--6 {
  padding-right: 50px;
  width: 19.72%;
}

.cancionesArticle .galeria__item2--7 {
  padding-top: 150px;
  width: 40%;
}

.cancionesArticle .galeria__item2--8 {
  padding-left: 50px;
  width: 30%;
}

@media screen and (max-width: 1000px) {
  .cancionesArticle h2 {
    color: white;
    padding-top: 40px;
  }
  .cancionesArticle__menu {
    color: white;
    list-style: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cancionesArticle__menu li {
    padding-top: 30px;
    font-size: 20px;
  }
  .cancionesArticle__container {
    width: 95%;
    margin: 2rem auto;
  }
  .galeria {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .galeria__img {
    width: 100%;
  }
  .galeria__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 50%;
  }
  .galeria__item--1 {
    padding-bottom: 30px;
    width: 20%;
  }
  .galeria__item--2 {
    padding-lefT: 50px;
    padding-right: 4px;
    width: 27.9%;
  }
  .galeria__item--3 {
    padding-top: 60px;
    padding-lefT: 50px;
    width: 15%;
  }
  .galeria__item--4 {
    padding-top: 60px;
    padding-lefT: 50px;
    width: 15%;
  }
  .galeria__item--5 {
    padding-left: 30px;
    width: 20%;
  }
  .galeria__item__img {
    width: 100%;
  }
  .galeria__item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 50%;
  }
  .galeria__item2--6 {
    padding-right: 50px;
    width: 19.72%;
  }
  .galeria__item2--7 {
    width: 40%;
  }
  .galeria__item2--8 {
    padding-left: 50px;
    width: 30%;
  }
}

main {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(/recursos/banner.png);
  position: relative;
  /* icono */
}

main .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 0;
}

main .header__img {
  margin-left: 40px;
  width: 25%;
}

main .header div {
  width: 50%;
}

main .header .navegacion {
  top: 30px;
  right: 0;
  width: 50%;
  font-size: 30px;
}

main .header .navegacion ul {
  color: white;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 10px;
}

main .header .navegacion ul input {
  opacity: 30%;
  border-radius: 5px;
  border-style: none;
  margin-left: 10px;
}

main .bannerSection {
  color: white;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 150px;
}

main .bannerSection__h1 {
  font-size: 100px;
  font-weight: 400;
}

main .bannerSection__p {
  padding-top: 1.5%;
  padding-bottom: 30px;
  font-size: 35px;
  margin-right: 80%;
}

main .bannerSection__btn {
  color: white;
  background-color: #379eff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .bannerSection__btn__a {
  padding: 10px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

@media screen and (max-width: 1000px) {
  main {
    height: 100vh;
    width: 100%;
    background-position: 90% 100%;
    position: relative;
  }
  main .header .navegacion {
    display: none;
  }
  main .bannerSection {
    margin-left: 50px;
    height: 56%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 20% 0;
  }
  main .bannerSection__h1 {
    font-size: 70px;
  }
  main .bannerSection__p {
    font-size: 28px;
    margin-right: 200px;
  }
  main .bannerSection__btn__a {
    padding: 5px;
    font-size: 30px;
  }
}

.newsletter {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2%;
  overflow: hidden;
  background-image: url(/recursos/newsBg.png);
  background-repeat: no-repeat;
  background-size: 103% 100%;
}

.newsletter__section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
}

.newsletter__section2 div p {
  padding-top: 30px;
}

.newsletter__section2 .section__input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 30px;
  padding: 15px 50px 10px 20px;
  margin-right: 30px;
  border-radius: 10px;
  border-color: gray;
}

@media screen and (max-width: 1000px) {
  .newsletter__section1 img {
    width: 70%;
  }
  .newsletter__section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 60%;
  }
  .newsletter__section2 div p {
    padding-top: 20px;
  }
  .newsletter__section2 .section__input {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 16px;
    padding: 15px 50px 10px 20px;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 10px;
    border-color: gray;
  }
  .newsletter__section2 .section__button {
    margin-top: 30px;
  }
}

.vinilosArticle {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(32.65%, #1a799d), color-stop(132.93%, #000000));
  background: linear-gradient(360deg, #1a799d 32.65%, #000000 132.93%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 8%;
}

.vinilosArticle h2 {
  color: white;
}

.vinilosArticle p {
  padding-top: 2%;
  text-align: center;
  color: white;
}

.vinilosArticle__section {
  padding-top: 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.vinilosArticle__section .viniliosArticle__img {
  height: 700px;
  width: 700px;
}

@media screen and (max-width: 1000px) {
  .vinilosArticle {
    padding-top: 40px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vinilosArticle p {
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 30px;
    text-align: center;
    color: white;
  }
  .vinilosArticle .vinilosArticle__section {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vinilosArticle .vinilosArticle__section .vinilo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .vinilosArticle .vinilosArticle__section .viniliosArticle__img {
    height: 300px;
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */