/* Cosas Generales */
body {
    font-family: "Raleway", sans-serif;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 2em;
        font-weight: 400;
    }
    h2 {
        font-size: 60px;
        font-weight: 600;
    }
    p {
        font-weight: 400;
        font-size: 1.5em;
    }

    button {
        color: rgb(25, 26, 29);
        background-color: rgb(255, 162, 55);
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-size: 1.5em;
        border-radius: 5px;
        padding: 10px 40px 10px 40px;
        border-style: none;
        width: fit-content;
    }
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}









/* Estilo responsive */
@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 850px) {
}

@import "./_footer.scss";
@import "./_subscribe.scss";
@import "./_join.scss";
@import "./_music.scss";
@import "./_banner.scss";
@import "./_newsletter.scss";
@import "./_vinyl.scss";
